* {
  box-sizing: border-box;
}

.checkout-page {
  padding: 20px;
}

.form-border {
  width: 500px;
  margin: auto;
}

.error-user {
  color: red;
  font-weight: 600;
  font-size: 14px;
}

.error-user svg {
  margin: -16px 8px 0 0;
}

.headline {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  background-color: transparent;
  border: 2px solid #9ae5bd;
  padding: 12px 18px;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  outline: none;
  width: 100%;
}

input[type="text"]:focus {
  border: 2px solid #3cf793;
}

label {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0;
}

select.input {
  background-color: transparent;
  border: 2px solid #9ae5bd;
  padding: 12px 18px;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  outline: none;
  width: 100%;
}

.button {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 16px;
  color: inherit;
  font-family: inherit;
  padding: 12px 38px;
  font-weight: 700;
  font-size: 22px;
  display: block;
  margin: 34px auto;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.error-message {
  color: red;
  font-weight: 600;
  font-size: 14px;
}
