* {
  box-sizing: border-box;
}

.checkout-page {
  padding: 20px;
}

.form-border {
  width: 500px;
  margin: auto;
}

.error-user {
  color: red;
  font-weight: 700;
  font-size: 14px;
}

.error-user svg {
  margin: -16px 8px 0 0;
}

.headline {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  background-color: transparent;
  border: 2px solid #9ae5bd;
  padding: 12px 18px;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  outline: none;
  width: 100%;
}

input[type="text"]:focus {
  border: 2px solid #3cf793;
}

label {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0;
}

select.input {
  background-color: transparent;
  border: 2px solid #9ae5bd;
  padding: 12px 18px;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  outline: none;
  width: 100%;
}

.btn-container {
  display: flex;
}

.button {
  border: 2px solid #9ae5bd !important;
  background-color: #222222;
  border-radius: 16px;
  color: white;
  font-family: inherit;
  padding: 12px 38px;
  font-weight: 700;
  font-size: 22px;
  display: block;
  margin: 34px auto;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  color: #222222 !important;
  background-color: #9ae5bd;
}

.error-message {
  color: red;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 600px) {
  .form-border {
    width: 100%;
  }

  .headline {
    font-size: 36px;
  }

  input[type="text"],
  select.input {
    font-size: 16px;
  }

  .button {
    font-size: 18px;
    padding: 10px 24px;
  }
}
