html {
  scroll-behavior: smooth;
}

.detailPage-box {
  max-width: 1200px;
  margin: auto;
}

.otherProductCard-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  height: 32px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 20px;
  bottom: 46px;
  position: absolute;
  width: 90%;
}

.cart-notification {
  position: fixed;
  width: 80%;
  bottom: 24px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222222;
  border: 2px solid #9ae5bd;
  padding: 20px 30px;
  border-radius: 16px;
}

@media (max-width: 560px) {
  .cart-notification {
    width: 90%;
    font-size: 18px;
  }
}

.detailPage-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.detailPage-image {
  border-radius: 30px;
  height: 326px;
  width: 326px;
  object-fit: cover;
  margin-top: 64px;
}

.detailPage-text {
  color: #faf9f8;
  width: 326px;
  font-family: "Red Hat Display";
  margin-left: 32px;
  margin-right: 32px;
}

.detailPage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.container-specification {
  color: #faf9f8;
  font-family: "Red Hat Display";
  margin-top: 64px;
  line-height: 24px;
  padding: 0 64px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-specification ul {
  padding: 0 0 0 14px;
  margin: 0;
}

.specification-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.Specification-header {
  display: flex;
}

.otherProduct-container {
  background-color: #222222;
  color: #faf9f8;
  border-radius: 30px;
  gap: 10.14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  line-height: 26.46px;
  display: flex;
  flex-direction: column;
  width: 326px;
  height: 671px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.otherProduct-image {
  width: 326px;
  height: 326px;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.otherProduct-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
}

.detailPage-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  list-style: none;
  gap: 64px;
  align-items: center;
  padding: 0;
}

.otherProduct-text {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  height: 326px;
}

.desktop-serachbar {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(50%);
}

@media (max-width: 830px) {
  .DetailPage-info {
    margin-top: 0;
  }

  .desktop-serachbar {
    display: none;
  }
}

@media (min-width: 1000px) {
  .detailPage-list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .otherProduct-text {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }

  .detailPage-info {
    flex-direction: row;
    justify-content: center;
    padding-top: 64px;
    align-items: center;
  }

  .detailPage-image {
    width: 500px;
    height: 500px;
    border-radius: 30px;
  }

  .detailPage-text {
    width: 507px;
    margin-top: 0;
    height: 470px;
    margin-left: 20px;
    align-items: center;
  }

  .detailPage-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .detailPage-specification {
    margin-top: 40px;
    margin-bottom: 64px;
    width: 499px;
    line-height: 26.46px;
    margin-left: 100px;
  }

  .otherProduct-container {
    width: 374.45px;
    position: relative;
  }

  .otherProduct-image {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 374.45px;
    height: 374.45px;
  }

  .product-list {
    margin-top: 20px;
  }

  .otherProductCard-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    height: 32px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
    position: absolute;

    bottom: 46px;
  }

  .otherProduct-container {
    width: 374.45px;
  }

  .otherProduct-description {
    line-height: 27px;
  }
  .otherProduct-text {
    height: 326.7px;
  }

  .otherProductCard-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .product-title {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .otherProduct-shortdescription {
    margin-top: 10.85px;
  }

  h3 {
    margin-top: 0;
  }

  .stars {
    font-size: 50px;
  }
}
