.Product-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
  width: 100%;
}

.dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 225px;
  height: 40px;
  border: 1px solid #9ae5bd;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Red Hat Display";
}

.Footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;
  border: 1px solid #9ae5bd;
  border-radius: 8px;
}
