.footer {
  background-color: #222222;
  padding: 40px 0;
  font-family: "Red Hat Display";
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-secondbox {
  margin-top: 20px;
}

.footericon-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  height: 29.07px;
  width: 29.07px;
  align-items: center;
}

.footer-icons {
  height: 29.07px;
  width: 29.07px;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  justify-content: space-around;
  width: 100%;
}

.footer-column {
  flex: 1;
  margin-bottom: 20px;
  max-width: 140px;
}

.footer-heading {
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: normal;

  margin: 0 0 4px 0;
  border-bottom: 2px solid #9ae5bd;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  margin: 4px 0;
}

.footer-link:hover {
  text-decoration: underline;
}

.arrow-icon {
  margin-bottom: 50px;
}

.arrow-container {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.dropdrown-boxes {
  border: 1px solid hsla(148, 59%, 75%, 1);
}

label {
  color: white;
}

.footer-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  width: 300px;
  height: 229px;
}

.dropdown-boxes {
  width: 225px;
  height: 40px;
  border-radius: 8px;
  padding: 12px;
  gap: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid hsla(148, 59%, 75%, 1);
  position: relative;
}

.dropdown-boxestest {
  width: 225px;
  height: 40px;
  border-radius: 8px;
  padding: 12px;
  gap: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid hsla(148, 59%, 75%, 1);
  position: absoulute;
  top: 10px;
}

.footer-dropdownbox {
  width: 225px;
  border-radius: 8px;

  background-color: transparent;
  color: #faf9f8;
  border: 1px solid hsla(148, 59%, 75%, 1);
  display: flex;
  justify-content: flex-start;
  margin: 12px;
  flex-direction: column;
  margin-right: 30px;
}

.detail-info {
  margin-top: 0;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #9ae5bd;
  background-color: #222222;
}

.icon-container {
  display: flex;
  justify-content: row;
}

.icon-container {
  max-width: 100%;
  height: 24px;
  width: 24px;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  font-family: "Red Hat Display";
}

.footer-icon {
  margin-right: 30px;
}

.text {
  margin-left: 10px;
}

.footer-text {
  margin-left: 10px;
  font-family: "Red Hat Display";
}

.footer-text:hover {
  color: #9ae5bd;
  cursor: pointer;
}

.footer-textheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Red Hat Display";
}

.footer-iconarrow {
  height: 24px;
  width: 24px;
}

.copyright-text {
  font-size: 10px;
  color: #faf9f8;
  text-align: center;
}

.logo-mobile {
  width: 24px;
  height: 24px;
}

.Productfooter-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
  width: 100%;
  /* display: block; */
  position: absoulte;
  bottom: 0;
  left: 0;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon-container div {
  margin-bottom: 10px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-heading-container {
  display: flex;
  align-items: center;
}

.logo-image {
  margin-right: 10px;
  width: 40px !important;
  height: 40px !important;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

/* ----------- */

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .Productfooter-line {
    border: none;
    height: 2px;
    background-color: #9ae5bd;
    margin: 10px 0;
    border-style: solid;
    border-color: #9ae5bd;
    border-width: 0;
    border-top-width: 2px;
    border-radius: 1px;
    width: 302px;
    position: absoulte;
    bottom: 0;
    left: 0;
  }

  .footer-column {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

.phone-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.mail-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.footer-link {
  display: flex;
  align-items: center;
}

.person-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
