* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
}

.menu-icon-open {
  flex-direction: row;
  display: flex;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.menu-icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.slide-menu {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;

  height: 0;
  overflow: hidden;

  background-color: #222222;
  transition: right 0.3s ease;
  z-index: 999;

  text-align: center;
  font-weight: 700;
  font-size: 28px;

  transition: all 0.2s ease;
}

.slide-menu a {
  color: #faf9f8 !important;
}

.slide-menu.open {
  /* CHANGE IF MORE ITEMS ARE ADDED OR REMOVED*/
  height: 302px;
  z-index: 999;
}

.slide-menu-content {
  padding: 1rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-icons {
  display: none;
}

.navbar-desktop {
  font-family: "Red Hat Display";
  display: flex;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  height: 92px;
  background: #222222;

  width: 100%;
}

.navbar-desktop .nav-links-desktop {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  margin: 0 0 0 32px;
  padding: 0;
  width: 100%;
}

.navbar-desktop .nav-links-desktop a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

.navbar-desktop .nav-links-desktop a:hover {
  color: gray;
}

.navbar-desktop .logo-container {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #9ae5bd;
  margin-right: auto;
}

.account-icon {
  width: 24px;
  height: 24px;
  fill: #faf9f8;
}

.cart-icon {
  width: 22px;
  height: 22px;
  fill: #faf9f8;
}

a {
  text-decoration: none;
}

.navbar-desktop .logo-image {
  width: 50px;
  height: 50px;
}

.navbar-desktop .logo-text {
  margin-left: 10px;
}

.navbar-desktop .nav-icon {
  width: 25px;
  height: 25px;
}

.side-push {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  gap: 32px;
}

@media (min-width: 830px) {
  .menu-icon {
    display: none;
  }

  .slide-menu {
    display: none;
  }

  .menu-icon-open {
    display: none;
  }
}

@media (max-width: 830px) {
  .navbar-desktop {
    height: 72px;
  }

  .menu-icon {
    width: 100%;
    align-items: center;
    display: flex;
  }

  .push {
    margin-left: auto;
  }

  .nav-icon {
    width: 30px !important;
    height: 30px !important;
    fill: #9ae5bd;
    margin-left: 16px;
  }

  .cart-size {
    width: 33px !important;
    height: 33px !important;
  }

  .logo-image {
    width: 40px !important;
    height: 40px !important;
  }

  .navbar-desktop .nav-links-desktop {
    display: none; /* dölj länkrr i mobil */
  }

  .logo-text {
    display: none;
  }
}
