.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
}

.menu-icon-open {
  flex-direction: row;
  display: flex;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.menu-icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f2f2f2;
  transition: right 0.3s ease;
  z-index: 999;
}

.slide-menu.open {
  right: 0;
  z-index: 999;
}

.slide-menu-content {
  padding: 1rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-icons {
  display: none;
}

@media (min-width: 601px) {
  .menu-icon {
    display: none;
  }

  .slide-menu {
    display: none;
  }

  .menu-icon-open {
    display: none;
  }
}

.navbar-desktop {
  font-family: "Red Hat Display";
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 1440px;
  height: 92px;
  top: 1435px;
  left: 18245px;
  background: #222222;
}

.navbar-desktop .nav-links-desktop {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-desktop .nav-links-desktop a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar-desktop .nav-links-desktop a:hover {
  color: gray;
}

.navbar-desktop .logo-container {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: auto;
}

.navbar-desktop .logo-image {
  width: 50px;
  height: 50px;
}

.navbar-desktop .logo-text {
  margin-left: 10px;
}

.navbar-desktop .nav-icon {
  width: 25px;
  height: 25px;
}
@media (max-width: 600px) {
  .navbar-desktop .nav-links-desktop {
    display: none; /* dölj länkrr i mobil */
  }
}
