.product-image {
  height: 342.28px;
  width: 377.78px;
}

.product-container {
  background-color: #222222;
  width: 326px;
  color: #faf9f8;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  gap: 10.14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  padding: 0px, 0px, 41px, 0px;
  align-items: center;
  flex-direction: column;
  transition: height 0.3s;
  min-height: 500px;
  border-radius: 38.03px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.popularProduct-shortdescription {
  display: none;
}

.productViewMore-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5.36364px;
  gap: 13.41px;

  width: 228px;
  height: 59px;
  border: 2.68182px solid #9ae5bd;
  border-radius: 21.4545px;

  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: transparent;
  color: #faf9f8;
  font-family: Red Hat Display;
  font-weight: 700px;
  font-size: 21.45px;
  line-height: 28.38px;
}

.product-container:target {
  height: 462px;
}

.product-image {
  height: 326px;
  width: 326px;

  object-fit: cover;
  border-top-right-radius: 38.03px;
  border-top-left-radius: 38.03px;
}

.product-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 64px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.product-box {
  width: 100%;
  margin-top: 10px;
}

.product-text {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;

  width: 100%;
}

.product-price {
  font-size: 24px;
  margin: 0;
}

.productCard-title {
  margin-bottom: 15px;
  font-size: 24px;
}

.product-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
  width: 302px;
  display: block;
  position: absoulte;
  bottom: 0;
  left: 0;
}

.product-button {
  background-color: transparent;
  border: 2px solid #9ae5bd;
  padding: 10px 12px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.product-button:hover {
  background-color: #9ae5bd;
  color: black;
}

.productCard-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 30px;
  bottom: 0;

  margin-top: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productCard-icon {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.product-icon {
  width: 25px;
  height: 25px;
  align-items: center;
}

.rotate {
  transform: rotate(180deg) !important;
}

.product-header {
  font-family: "Red Hat Display";
  font-style: Bold;
  font-size: 32px;
  text-align: center;
  color: #faf9f8;
  margin-top: 80px;
}

.product-show-more {
  text-align: center;
  display: flex;
  justify-content: center;
}

.product-description {
  margin-top: 10px;
  font-size: 14px;
}

.productCard-button {
  margin-top: 10px;
}

.showInfoModal {
  margin-top: 10px;
}

.product-subtitle {
  display: none;
}

.product-iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-container {
  width: 296px;
}

.productPage-button {
  display: flex;
  align-items: center;
}

@media (min-width: 850px) {
  .popularProduct-shortdescription {
    display: block;
  }

  .product-list {
    display: flex;
    flex-direction: row;
  }

  .product-image {
    width: 399.48px;
    height: 399.48px;
    border-top-left-radius: 38.03px;
    border-top-right-radius: 38.03px;
  }
  .product-text {
    height: 300.84px;

    position: relative;
  }

  .productCard-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    padding-bottom: 30px;
    bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-top: auto;
  }

  .product-container {
    width: 399.48px;
    border-radius: 38.03px;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .product-line {
    display: none;
  }

  .product-icon {
    display: none;
  }
  .product-subtitle {
    display: block;
  }

  .product-container::-webkit-scrollbar {
    display: none;
  }

  .product-container:hover {
    border-color: #9ae5bd;
  }
}
