.Product-image {
  height: 342.28px;
  width: 377.78px;
}

.Product-container {
  background-color: #222222;
  width: 326px;
  color: #faf9f8;
  border-radius: 8px;
  gap: 10.14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  padding: 0px, 0px, 41px, 0px;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Product-image {
  height: 326px;
  width: 326px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.Product-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 64px;
}

.Product-box {
  margin-left: 32px;
  margin-right: 32px;
  width: 100%;
  margin-top: 64px;
}

.Product-text {
  padding: 0px 15.2126px;
  height: 136px;
  position: relative;
}

.Product-price {
  font-size: 30.43px;
}

.Product-title {
  font-size: 25.35px;
}

.Product-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
  width: 463px;
}

.Product-button {
  font-family: "Red Hat Display";
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  vertical-align: top;
  color: #faf9f8;
  width: 109px;
  height: 39px;
  border-radius: 16px;
  border-color: #9ae5bd;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductCard-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 68px;
  height: 32px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 20px;

  /* padding: 0px;
  gap: 68px;
  width: 302px;
  height: 32px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 20px; */
}

.ProductCard-icon {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.Product-icon {
  width: 25px;
  height: 25px;
}

.Product-header {
  font-family: "Red Hat Display";
  font-style: Bold;
  font-size: 32px;
  text-align: center;
  color: #faf9f8;
}

.Product-show-more {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Product-description {
  margin-top: 10px;
  font-size: 14px;
}

.Product-text {
  position: relative;
}

.ProductCard-button {
  margin-top: 10px;
}

.Product-price {
  margin-top: 10px;
}

.Product-button {
  margin-top: 10px;
}

.ShowInfoModal {
  margin-top: 10px;
}

/* .Modal-show {
  position: absolute;
  left: 50px;
} */

/* .ProductCard-iconBox {
  position: relative;
  display: flex;
  align-items: center;
}

.ProductCard-icon {
  /* position: absolute; */
/* right: 0; */
/* } */

@media (min-width: 600px) {
  .Product-image {
    width: 499.48px;
    height: 499.48px;
  }
  .Product-text {
    /* width: 499.48px; */
    height: 229.85px;
    /* background-color: #222222; */
  }

  .Product-container {
    width: 499.48px;
    height: 687px;
  }

  .Product-list {
    display: flex;
    flex-direction: row;
  }
}
