.Product-image {
  height: 342.28px;
  width: 377.78px;
}

.Product-container {
  background-color: #222222;
  width: 326px;
  color: #faf9f8;
  border-radius: 8px;
  gap: 10.14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  /* line-height: 34px; */
  padding: 0px, 0px, 41px, 0px;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: height 0.3s;
  min-height: 500px; /* Increase the height as desired */
  /* height: 462px; */
}

.ProductViewMore-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5.36364px;
  gap: 13.41px;

  width: 228px;
  height: 59px;

  border: 2.68182px solid #9ae5bd;
  border-radius: 21.4545px;

  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: transparent;
  color: #faf9f8;
  font-family: Red Hat Display;
  font-weight: 700px;
  font-size: 21.45px;
  line-height: 28.38px;
}

.Product-container:target {
  height: 462px;
}

.Product-image {
  height: 326px;
  width: 326px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.Product-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 64px;
}

.Product-box {
  margin-left: 32px;
  margin-right: 32px;
  width: 100%;
  margin-top: 64px;
}

.Product-text {
  padding: 0px 15.2126px;

  position: relative;
  /*
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; */
}

.Product-price {
  font-size: 24px;
}

.Product-title {
  font-size: 24px;
  /* position: absolute; */
  /* right: 300px; */
}

.Product-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
  width: 302px;
  display: block;
  position: absoulte;
  bottom: 0;
  left: 0;
}

.Product-button {
  font-family: "Red Hat Display";
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  vertical-align: top;
  color: #faf9f8;
  width: 116px;
  /* width: 228px; */
  height: 32px;
  border-radius: 16px;
  border-color: #9ae5bd;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductCard-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0px;
  gap: 68px;
  height: 32px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 30px;
}

.ProductCard-icon {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}

.Product-icon {
  width: 25px;
  height: 25px;
  align-items: center;
}

.Product-header {
  font-family: "Red Hat Display";
  font-style: Bold;
  font-size: 32px;
  text-align: center;
  color: #faf9f8;
}

.Product-show-more {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Product-description {
  margin-top: 10px;
  font-size: 14px;
}

.Product-text {
  position: relative;
}

.ProductCard-button {
  margin-top: 10px;
}

.Product-price {
  margin-top: 10px;
}

.ShowInfoModal {
  margin-top: 10px;
}

.Product-subtitle {
  display: none;
}

.Product-iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .Product-image {
    width: 399.48px;
    height: 399.48px;
  }
  .Product-text {
    /* width: 499.48px; */
    height: 229.85px;
    /* background-color: #222222; */
  }

  .Product-container {
    width: 399.48px;
    /* height: 687px; */
  }

  .Product-list {
    display: flex;
    flex-direction: row;
  }

  .Product-line {
    display: none;
  }

  .Product-icon {
    display: none;
  }
  .Product-subtitle {
    display: block;
  }
}
