.ProductPage-container {
  background-color: #222222;
  /* width: 326px; */
  color: #faf9f8;
  border-radius: 8px;
  gap: 10.14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  padding: 0px, 0px, 41px, 0px;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 128px;
  /* margin-bottom: 64px; */

  /* margin-top: 64px;
  margin-bottom: 64px; */
}

.Product-show-more {
  display: flex;
  justify-content: center;
  margin-top: 128px;
  margin-bottom: 128px;
}

.ProductPage-text {
  padding: 0px 15.2126px;
  height: 136px;
  position: relative;
  width: 644px;
}

.ProductPage-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 1312px;
  /* height: 579.6px; */
}

.ProductPage-info {
  /* background-color: #222222; */
  width: 645px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

.ProductPage-image {
  width: 544px;
  height: 479.6px;
  border-top-left-radius: 8px;
  /* border-top-right-radius: 8px; */
  object-fit: cover;
}

@media (min-width: 600px) {
  .ProductPage-box {
    display: flex;
    width: 1312px;
  }

  .ProductPage-container {
    display: flex;
    flex-direction: row;

    /* width: 1312px;
    height: 579.6px; */
  }
}

/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 1312px;
height: 579.6px;

background: #222222;
border-radius: 30px; */

/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 1312px;
height: 579.6px;

background: #222222;
border-radius: 30px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
