.ProductPage-container {
  background-color: #222222;
  /* width: 326px; */
  color: #faf9f8;
  border-radius: 2px;
  gap: 10.14px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  /* line-height: 34px; */
  padding: 0px, 0px, 41px, 0px;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 32px;

  width: fit-content;

  /* width: 326px; */
}

.ProductPage-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0px;
  /* gap: 68px; */
  /* height: 32px; */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 30px;
  margin-top: 24px;
  /* width: 116px; */
  /* height: 700px; */
  align-items: center;
}

.ProductPage-text {
  margin: 15px;
}

.Product-line {
  border: none;
  height: 2px;
  background-color: #9ae5bd;
  margin: 10px 0;
  border-style: solid;
  border-color: #9ae5bd;
  border-width: 0;
  border-top-width: 2px;
  border-radius: 1px;
  width: 100%;
  display: block;
  position: absoulte;
  bottom: 0;
  left: 0;
  margin-bottom: 12px;
}

.ProductCardPage-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Product-icon {
  align-items: center;
}

.Product-show-more {
  display: flex;
  justify-content: center;
  margin-top: 128px;
  margin-bottom: 128px;
}

.ProductPage-info {
  border-radius: 30px;
}

.ProductPage-image {
  /* width: 544px; */
  /* height: 479.6px;  */
  border-top-left-radius: 8px;
  object-fit: cover;
  width: 326px;
  height: 326px;
  object-fit: cover;
}

.short-description {
  display: none;
}

.subtitle {
  display: none;
}

.ProductPage-box {
  margin-top: 64px;
}

.ProductPage-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 64px; */
}

.ProductPage-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
}

.top-to-btm {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* .arrow-icon:hover {
  background-color: #9ae5bd;
} */

.button-content {
  display: inline-block;
}

.arrow-container {
  margin-top: 100px;
}

.desktop-serachbar {
  position: relative;
  top: -20px;
  left: 50%;
  transform: translateX(50%);
}

@media (max-width: 830px) {
  .ProductPage-container {
    margin-top: 0;
  }
  .desktop-serachbar {
    display: none;
  }
}

@media (min-width: 850px) {
  .ProductPage-image {
    /* border-top-left-radius: 8px;
    object-fit: cover; */
    width: 350px;
    height: 350px;
  }

  .ProductPage-container {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    width: fit-content;
    /* margin-top: 32px; */
  }

  .subtitle {
    display: block;
  }

  .Product-line {
    display: none;
  }

  .short-description {
    display: block;
  }

  .desktop-serachbar {
    top: -20px !important;
  }
}

@media (min-width: 1160px) {
  .ProductPage-box {
    display: flex;
    /* width: 1312px; */
  }

  .ProductPage-container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;

    /* width: 100%; */
  }
  .ProductPage-image {
    width: 479px;
    height: 479px;
  }
  .ProductPage-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* width: 1312px; */
  }
  .short-description {
    display: block;
  }
  .subtitle {
    display: block;
  }
  .ProductPage-text {
    padding: 0px 15.2126px;
    height: 136px;
    position: relative;
    /* width: 644px; */
  }
  .ProductPage-info {
    /* width: 645px; */
    height: 270px;
  }
  .Product-line {
    display: none;
  }

  .desktop-serachbar {
    top: -13px !important;
  }
}
