/* Card 6 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 40.5669px;

width: 380.32px;
height: 687px;

box-shadow: 2.53543px 2.53543px 2.53543px 2.53543px rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

width: 377.78px;
height: 342.28px;

background: url(EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_267ec011-42a8-42c4-8518-e940aab3f970.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30.43px;

width: 380.32px;
height: 297.42px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 15.2126px;
gap: 15.21px;

width: 380.32px;
height: 226.43px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 34px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 25.3543px;
line-height: 34px;
/* identical to box height */
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 27px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 20.2835px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* text */

width: 337.21px;
height: 135px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 400;
font-size: 20.2835px;
line-height: 27px;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* card/button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 15.2126px;
gap: 86.2px;

width: 380.32px;
height: 40.57px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Text/price */

width: 115px;
height: 40px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 30.4252px;
line-height: 40px;

color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New button/Card (desktop) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5.07087px;
gap: 12.68px;

width: 147.06px;
height: 40.57px;

/* Primary */
border: 2.53543px solid #9ae5bd;
border-radius: 15.2126px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 119 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 12.6772px;
gap: 12.68px;

width: 138.35px;
height: 48.35px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* View product */

width: 113px;
height: 23px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 17.748px;
line-height: 23px;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 266 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;

position: absolute;
width: 1268.95px;
height: 903.1px;
left: calc(50% - 1268.95px / 2 + 8.47px);
top: 1152px;

/* Frame 221 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 64px;

width: 1268.95px;
height: 804.1px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Our products */

width: 254px;
height: 53px;

/* Headings/Heading desktop/H1

Heading 1 40px bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 53px;
/* identical to box height */

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* div/cards */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 64px;

width: 1268.95px;
height: 687.1px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Card 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 40.5669px;
gap: 10.14px;

width: 380.32px;
height: 687.1px;

background: #222222;
box-shadow: 2.53543px 2.53543px 2.53543px 2.53543px rgba(0, 0, 0, 0.1);
border-radius: 38.0315px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_753ee6ca-73ad-4d89-af03-a586563ff367 */

width: 380.32px;
height: 342.28px;

background: url(EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_753ee6ca-73ad-4d89-af03-a586563ff367.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30.43px;

width: 380.32px;
height: 297.42px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 15.2126px;
gap: 15.21px;

width: 380.32px;
height: 226.43px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 34px;

/* Headings/Heading desktop/H5

heading 5 20px semi-bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 27px;

/* Headings/Heading desktop/H6

heading 6 16px semi-bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* text */

width: 337.21px;
height: 135px;

/* Body/Body desktop/Regular 16px

body text 16px regular
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* card/button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 15.2126px;
gap: 86.2px;

width: 380.32px;
height: 40.57px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Text/price */

width: 106px;
height: 40px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 30.4252px;
line-height: 40px;

color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New button/Card (desktop) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5.07087px;
gap: 12.68px;

width: 147.06px;
height: 40.57px;

/* Primary */
border: 2.53543px solid #9ae5bd;
border-radius: 15.2126px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 119 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 12.6772px;
gap: 12.68px;

width: 138.35px;
height: 48.35px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* View product */

width: 113px;
height: 23px;

/* Body/Body text mobile/14px bold

Body text 12px bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Card 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 40.5669px;
gap: 10.14px;

width: 380.32px;
height: 687px;

background: #222222;
box-shadow: 2.53543px 2.53543px 2.53543px 2.53543px rgba(0, 0, 0, 0.1);
border-radius: 38.0315px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_7fb452e2-9eee-490e-b964-c3f4e85025db */

width: 377.78px;
height: 342.28px;

background: url(EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_7fb452e2-9eee-490e-b964-c3f4e85025db.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12.68px;

width: 380.32px;
height: 334.68px;

border-radius: 63.3858px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30.43px;

width: 380.32px;
height: 297.42px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 15.2126px;
gap: 15.21px;

width: 380.32px;
height: 226.43px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 34px;

/* Headings/Heading desktop/H5

heading 5 20px semi-bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 27px;

/* Headings/Heading desktop/H6

heading 6 16px semi-bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* text */

width: 337.21px;
height: 135px;

/* Body/Body desktop/Regular 16px

body text 16px regular
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* card/button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 15.2126px;
gap: 86.2px;

width: 380.32px;
height: 40.57px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Text/price */

width: 102px;
height: 40px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 30.4252px;
line-height: 40px;

color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New button/Card (desktop) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5.07087px;
gap: 12.68px;

width: 147.06px;
height: 40.57px;

/* Primary */
border: 2.53543px solid #9ae5bd;
border-radius: 15.2126px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 119 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 12.6772px;
gap: 12.68px;

width: 138.35px;
height: 48.35px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* View product */

width: 113px;
height: 23px;

/* Body/Body text mobile/14px bold

Body text 12px bold
*/
font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Card 6 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 40.5669px;
gap: 10.14px;

width: 380.32px;
height: 687px;

background: #222222;
box-shadow: 2.53543px 2.53543px 2.53543px 2.53543px rgba(0, 0, 0, 0.1);
border-radius: 38.0315px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_267ec011-42a8-42c4-8518-e940aab3f970 */

width: 377.78px;
height: 342.28px;

background: url(EricaElfstrom_product_photos_of_a_black_and_green_electric_scoo_267ec011-42a8-42c4-8518-e940aab3f970.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30.43px;

width: 380.32px;
height: 297.42px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* card/body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 15.2126px;
gap: 15.21px;

width: 380.32px;
height: 226.43px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 34px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 25.3543px;
line-height: 34px;
/* identical to box height */
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* text */

width: 337.21px;
height: 27px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 600;
font-size: 20.2835px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* text */

width: 337.21px;
height: 135px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 400;
font-size: 20.2835px;
line-height: 27px;

/* White */
color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* card/button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 15.2126px;
gap: 86.2px;

width: 380.32px;
height: 40.57px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Text/price */

width: 115px;
height: 40px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 30.4252px;
line-height: 40px;

color: #faf9f8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New button/Card (desktop) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5.07087px;
gap: 12.68px;

width: 147.06px;
height: 40.57px;

/* Primary */
border: 2.53543px solid #9ae5bd;
border-radius: 15.2126px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 119 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 12.6772px;
gap: 12.68px;

width: 138.35px;
height: 48.35px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* View product */

width: 113px;
height: 23px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 17.748px;
line-height: 23px;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New button/primary(desktop) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5.36364px;
gap: 13.41px;

width: 192px;
height: 59px;

/* Primary */
border: 2.68182px solid #9ae5bd;
border-radius: 21.4545px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 119 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 13.4091px;
gap: 13.41px;

width: 163.82px;
height: 54.82px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* View product */

width: 137px;
height: 28px;

font-family: "Red Hat Display";
font-style: normal;
font-weight: 700;
font-size: 21.4545px;
line-height: 28px;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
